@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@100&display=swap");

.body {
  background-color: #d1c6bb;
}


.cardInfo {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 13px;
  margin: 20px;
  width: 50%;
  
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 13px;
  margin: 20px;
 width: 50%;
}


.otherRow{
  display: flex;
  justify-content: center;
}
.container1{ 
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#books{
  margin-top: 40px;
  width: 94%;
  display: flex;

  border-color: #ffffff;
}

.lidos{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}