.navbar-links{
    padding: 15px;
    color: #337ab7;
    font-family: 'Nunito', sans-serif;
    
}
#container1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-title {
    flex-grow: 1;
}
